<div class="canvas-container">
  <canvas #canvas> </canvas>
  <div class="overlay">
    <app-navbar></app-navbar>

    <div class="card-container">
      <mat-card class="horizontal-card">
        <div class="mat-card-content">
          <mat-card-title-group>
            <mat-card-title>Cognizant</mat-card-title>
            <mat-card-subtitle>Programmer Analyst Trainee</mat-card-subtitle>
            <img mat-card-sm-image src="/assets/logo/Cognizant-Logo.png" />
          </mat-card-title-group>
          <mat-card-content>
            <p>
              Worked on multiple projects involving Spring Boot framework and
              Angular
            </p>
          </mat-card-content>
        </div>
      </mat-card>
      <mat-card class="horizontal-card">
        <div class="mat-card-content">
          <mat-card-title-group>
            <mat-card-title>Cognizant</mat-card-title>
            <mat-card-subtitle>Jr. Software Engineer</mat-card-subtitle>
            <img mat-card-sm-image src="/assets/logo/Cognizant-Logo.png" />
          </mat-card-title-group>
          <mat-card-content>
            <p>
              Worked as Backend Developer in a project involving Spring Boot.
            </p>
            <p>
              Implemented E2E ETL processes for data warehousing using
              Scala,Spark,Hive.
            </p>
          </mat-card-content>
        </div>
      </mat-card>
      <mat-card class="horizontal-card">
        <div class="mat-card-content">
          <mat-card-title-group>
            <mat-card-title>Cognizant</mat-card-title>
            <mat-card-subtitle>Assosiate</mat-card-subtitle>
            <img mat-card-sm-image src="/assets/logo/Cognizant-Logo.png" />
          </mat-card-title-group>
          <mat-card-content>
            <p>
              Architected and developed different Microservices using Spring
              Boot ,MySQL and Azure
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>
