<div class="canvas-container">
  <canvas #canvas> </canvas>
  <div class="overlay">
    <app-navbar></app-navbar>
    <div class="aboutme">
      <h1 class="p1">Hi, I am Shivam</h1>
      <p class="p2">
        A lifelong learner with an instiable curiosity for technology. I am
        passionate about building creative solutions and constantly expanding my
        skills.
      </p>
      <p class="p3">
        Feel free to reach out if you need help with your project.
      </p>
      <div class="socials">
        <a href="https://github.com/shiv159" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/shivam159/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
